<footer class="footer">
  <span class="footer-text">
    All content Copyright &#169; <%= new Date().getFullYear() %>
    <span class="text-bright"><a href="https://bsky.app/profile/zambini.dongr.me">randonia</a></span>
    unless otherwise noted</span
  >
</footer>
