<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Portfolio</title>
    <link rel="preload" href="/styles.css" as="style" />
    <link rel="stylesheet" href="/styles.css" type="text/css" />
  </head>
  <style>
    html {
      background-color: #0f1a20;
    }
  </style>
  <body class="page">
    <div class="container">
      <main class="main"><%- body %></main>
    </div>
  </body>
</html>
